.container {
  display: flex;
  flex: 12;
  margin-left: 112px;
  margin-right: 112px;
  max-width: 1216px;
}

@media screen and (max-width: 1024px) {
  .container {
    flex: 8;
    margin-left: 48px;
    margin-right: 48px;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex: 4;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 100%;
  }
}